.food-display {
  margin-top: 30px;
}

.food-display h2 {
  color: #262626;
  font-weight: 500;
}

.food-display-list {
  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(240px, 1fr));
  margin-top: 30px;
  gap: 30px;
  row-gap: 50px;
}
.food-item {
    width: 100%;
    /* height: 350px; */
    margin: auto;
    border-radius: 15px;
    box-shadow: 0px 0px 10px #0000003a;
    transition: 0.3s;
    animation: fadeIn 1s;
}

.food-item-image {
    width: 100%;
    border-radius: 15px 15px 0px 0px;
}

.food-item-info {
    padding: 20px;
}

.food-item-name-rating {
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin-bottom: 10px;
}

.food-item-name-rating p {
    font-size: 16px;
    font-weight: 500;
}

.food-item-name-rating img {
    width: 70px;
}

.food-tem-desc {
    color: #676767;
    font-size: 12px;
}

.food-item-price {
    color: rgb(255, 74, 3);
    font-size: 22px;
    font-weight: 500;
    margin-top: 10px;
    
}